<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftEngineTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>204AF3F41F607B7800662CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
